html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  text-align: center;
  align-items: center;
  font-size: 16px;
  padding-bottom: 77px;
  border: 3px solid rgb(124, 30, 30);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.navBox {
  width: 90%;
  height: 1.5em;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

nav .right {
  font-size: 0.7em;
  margin-top: 0.5em;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0 0.5em;
}

nav .right a:hover {
  color: rgb(200, 0, 0);
}

#home {
  background-color: blueviolet;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  padding-top: 100px;
}

#home .imgContainer {
  width: 200px;
  height: 200px;
  margin: 0px auto;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

#home .profileImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  font-size: 3em;
  padding: 2em 0 1em 0;
  font-family: "Staatliches", cursive;
}
#skills {
  margin: 0 auto;
  background-color: #edecea;
}
#skills .skills-body {
  width: 77%;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
  justify-content: space-around;
}
#skills .skillsBox {
  width: 17em;
  border: 1px solid #c4bcb8;
  /* display: block; */
  border-radius: 5%;
  margin: 0 0 2em 0;
  background-color: #e2dfd8;
  box-shadow: 5px 5px 5px 5px #c4bcb8;
}
.skillsBox h2 {
  width: 77%;
  margin: 0 auto;
  padding: 7px 0;
  font-size: 2em;
  font-family: "Staatliches", cursive;
  border-bottom: 1px solid #000;
}
.skillsBox .skillsContent {
  margin: 1em 0;
}

#contact {
  font-family: "Times New Roman", Times, serif;
}

#contact .contact-body form {
  width: 50%;
  margin: 0 auto;
}

#contact form p {
  margin: 15px 0;
}

#contact form .input {
  width: 100%;
  border: 2px black solid;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

#contact form .name {
  height: 40px;
}

#contact form .textarea {
  min-height: 150px;
}

.contactList li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

form input[type="submit"] {
  width: 50%;
  border: 2px black solid;
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

footer {
  height: 100px;
  text-align: center;
}

footer p {
  width: 100%;
}

.footerBox {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: aqua;
}

.footerBox .snsBox {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 3px double black;
  border-radius: 15px;
  cursor: pointer;
}

.email {
  color: #db4437;
}

.instagram {
  color: #e1306c;
  background: linear-gradient(
    to left bottom,
    #405de6,
    #5b51d8,
    #833ab4,
    #c13584,
    #e1306c,
    #f77737,
    #ffdc80
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.facebook {
  color: #4267b2;
}

.github {
  color: #333;
}

.tistory {
  color: #d93d04;
}
